.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  display: flex;
  padding: 1.5rem;
}

.content {
  border-radius: 1.5rem;
  height: 36.5rem;
  width: 25.1875rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 24px;
    font-weight: 700;
  }
}

.greenButton {
  background-color: rgba(37, 194, 53, 1);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  & > {
    width: 100%;
  }
}
