.container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 5rem;
  z-index: 1000;
  overflow-x: hidden;
}

.filterContainer {
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 1.5rem;
  gap: 0.5rem;
  max-width: 32.8125rem;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;

  scrollbar-width: none;

  & > :first-child {
    margin-left: 0.5rem;
  }

  & > :last-child {
    margin-right: 0.5rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.filterContainer::-webkit-scrollbar {
  display: none;
}
