.container {
  height: 5rem;
  width: 100%;
  position: absolute;
  float: right;
  flex-direction: row;
  display: flex;
  justify-content: end;
  align-items: end;


  button {
    position: relative;
    margin-right: 0.5rem;
    height: 4rem;
    width: 4rem;
    background-color: white;
    z-index: 10000;
    border-radius: 1.5rem;
  }


}

.ctr{

  


  button {
    position: relative;
    
    margin-right: 0.5rem;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 10000;
    border-radius: 1.5rem;
  }

  
}

.header {
  width: 100%;
  height: fit-content;
  justify-content: end;
  align-items: center;
}
